[submodule "zkhack-bls-pedersen"]
	path = zkhack-bls-pedersen
	url = https://github.com/aryaethn/zkhack-bls-pedersen
[submodule "zkhack-trusted-setup"]
	path = zkhack-trusted-setup
	url = https://github.com/aryaethn/zkhack-trusted-setup.git
[submodule "zkhack-double-trouble-solution"]
	path = zkhack-double-trouble-solution
	url = https://github.com/aryaethn/zkhack-double-trouble-solution.git
[submodule "zkhack-hidden-in-plain-sight"]
	path = zkhack-hidden-in-plain-sight
	url = https://github.com/aryaethn/zkhack-hidden-in-plain-sight.git
[submodule "zkhack-strong-adaptivity"]
	path = zkhack-strong-adaptivity
	url = https://github.com/aryaethn/zkhack-strong-adaptivity.git
[submodule "zkhack-soundness-of-music"]
	path = zkhack-soundness-of-music
	url = https://github.com/aryaethn/zkhack-soundness-of-music.git
[submodule "zkhack-there-is-something-in-the-AIR"]
	path = zkhack-there-is-something-in-the-AIR
	url = https://github.com/aryaethn/zkhack-there-is-something-in-the-AIR.git
[submodule "zkhack-can-you-turn-up-the-heat"]
	path = zkhack-can-you-turn-up-the-heat
	url = https://github.com/aryaethn/zkhack-can-you-turn-up-the-heat-winterfell.git
[submodule "puzzle-zero-sum-game"]
	path = puzzle-zero-sum-game
	url = https://github.com/aryaethn/puzzle-zero-sum-game.git
[submodule "puzzle-power-corrupts"]
	path = puzzle-power-corrupts
	url = https://github.com/aryaethn/puzzle-power-corrupts.git
